[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
"chatterbox.py" = "*"
flask-sqlalchemy = "*"
flask-script = "*"
pyquery = "*"
python-logstash-async = "*"


[dev-packages]

tox = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
detox = "*"
isort = "*"
pytest-flask = "*"
