[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
"chatterbox.py" = "*"
Flask-SQLAlchemy = "*"
Flask-Script = "*"
pyquery = "*"
python-logstash-async = "*"
gunicorn = "*"
requests = "*"
setproctitle = "*"
gevent = "*"
flask-migrate = "*"
raven = {extras = ["flask"]}

[dev-packages]
tox = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
detox = "*"
isort = "*"
pytest-flask = "*"
pytest-mock = "*"
