-i https://pypi.python.org/simple/
alembic==1.5.7
blinker==1.4
certifi==2020.12.5
chardet==3.0.4
chatterbox.py==0.2.5
click==7.1.2
cssselect==1.1.0
flask-migrate==2.3.1
flask-script==2.0.6
flask-sqlalchemy==2.3.2
flask==1.0.2
gevent==1.3.7
greenlet==1.0.0 ; python_version >= '3'
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.3
limits==1.5.1
logzero==1.5.0
lxml==4.6.2
mako==1.1.4
markupsafe==1.1.1
pyquery==1.4.0
python-dateutil==2.8.1
python-editor==1.0.4
python-logstash-async==1.4.1
raven[flask]==6.10.0
requests==2.21.0
setproctitle==1.1.10
six==1.15.0
sqlalchemy==1.4.1
urllib3==1.24.3
werkzeug==1.0.1
