alembic==0.9.9
blinker==1.4
certifi==2018.4.16
chardet==3.0.4
chatterbox.py==0.2.4
click==6.7
cssselect==1.0.3
flask-migrate==2.2.0
flask-script==2.0.6
flask-sqlalchemy==2.3.2
flask==1.0.2
gevent==1.3.3
greenlet==0.4.13; platform_python_implementation == 'CPython'
gunicorn==19.8.1
idna==2.7
itsdangerous==0.24
jinja2==2.10
limits==1.3
logzero==1.5.0
lxml==4.2.1
mako==1.0.7
markupsafe==1.0
pyquery==1.4.0
python-dateutil==2.7.3
python-editor==1.0.3
python-logstash-async==1.4.1
raven==6.9.0
requests==2.19.0
setproctitle==1.1.10
six==1.11.0
sqlalchemy==1.2.8
urllib3==1.23
werkzeug==0.14.1
