-i https://pypi.python.org/simple
alembic==1.0.0
blinker==1.4
certifi==2018.8.24
chardet==3.0.4
chatterbox.py==0.2.5
click==7.0; python_version >= '2.7'
cssselect==1.0.3
flask-migrate==2.2.1
flask-script==2.0.6
flask-sqlalchemy==2.3.2
flask==1.0.2
gevent==1.3.6
greenlet==0.4.15; platform_python_implementation == 'CPython'
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
jinja2==2.10
limits==1.3
logzero==1.5.0
lxml==4.2.5
mako==1.0.7
markupsafe==1.0
pyquery==1.4.0
python-dateutil==2.7.3
python-editor==1.0.3
python-logstash-async==1.4.1
raven==6.9.0
requests==2.19.1
setproctitle==1.1.10
six==1.11.0
sqlalchemy==1.2.12
urllib3==1.23
werkzeug==0.14.1
